.container{
	display: flex;
	height:100vh;
}

.boxImg{
	width: 60vw;
	background-image: url("imagens/img_login_cad.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left center; 
}
.containerForm{
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	padding: 5em 5em;
}
.containerRegister{
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	padding: 10em 5em;	
}
.boxTitle{
}

.boxTitle h1{
	font-family: 'Amaranth', sans-serif;
	font-weight: normal;
	font-size: 2.5em;
} 
.boxForm{
}
.box{
	display: flex;
	flex-direction: column;
	margin:1em 0 0.5em;
}
.boxC{
	display: flex;
	flex-direction: column;
	margin:0.8em 0 0 0;
}
.label{
	padding: 0.5em 0;
	color: #868686
}
.label_reg{
	padding: 0.8em 0;
	color:#505050;
}
.input{
	border-radius: 4px 4px 4px 4px;
	padding: 0.45em;
	border:1px solid #ced4da;
}
.input.login{
	border: 1px solid #28a745;
	background-color: #28a745;
	color: white;
}
.input.login:hover{
	background-color:#218838; 
	color: white;
}

.input.register{
	border: 1px solid #28a745;
	background-color: white;
	color: #28a745;
}
.input.register:hover{
	background-color: #28a745;
	color: white;
}
.line{
	margin-top: 2.7em;
	margin-bottom: 0.5em;
	border: 1px solid rgba(220,220,220,.6);
}
.line.reg{
	margin-top: 2em;
	border: 1px solid rgba(220,220,220,.6);	
}
.boxTitle h1{
	color: #505050
}


@media (max-width: 425px) {
	.boxImg{
		display: none;
	}

	.containerForm{
		width: 100vw;
		justify-content: center;
		padding: 2em 2em;
	}
}

@media (min-width: 426px) and (max-width: 768px){
	.containerForm{
		justify-content: center;
		padding: 2em 2em;
	}	
}