.container{
	display: flex;
	height:100vh;
}

.boxImg{
	width: 60%;
	background-image: url("imagens/img_login_cad.jpg");
	background-size: 155%;
	background-repeat: no-repeat;
	background-position: left center; 
}
.containerForm{
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}

.boxTitle{
	margin: 5.9em 5em 0.8em 5em;
}
.boxTitle h1{
	font-family: 'Amaranth', sans-serif;
	font-weight: normal;
} 
.boxForm{
	margin: 0 5em 6em 5em;
}
.box{
	display: flex;
	flex-direction: column;
	margin:10px 0;
}
.label{
	padding: 0.5em 0;
	color: #868686
}
.label_reg{
	padding: 0.8em 0;
	color:#505050;
}
.input{
	border-radius: 4px 4px 4px 4px;
	padding: 0.45em;
	border:1px solid #ced4da;
}
.input.login{
	border: 1px solid #28a745;
	background-color: #28a745;
	color: white;
}
.input.register{
	border: 1px solid #28a745;
	background-color: white;
	color: #28a745;
}
.line{
	margin-top: 1.9em;
	margin-bottom: 0.5em;
	border: 1px solid rgba(220,220,220,.6);
}
.boxTitle h1{
	color: #505050
}
