.container{
	display: flex;
	height:100vh;
	justify-content: space-between;
	border: 2px dashed black;
}

.boxImg{
	margin: 20px;
	flex-grow: 2;
	width: 300px;
	/*background-image: url("imagens/img_login_cad.jpg");
	background-size: 155%;
	background-repeat: no-repeat;
	background-position: left center; */
	border: 1px solid red;
}
.containerForm{
	margin: 20px;
	width:150px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: space-between;
	border: 1px solid blue;
}

.boxTitulo{
	margin: 20px;
	width: auto;
	border: 1px solid yellow;
}

.boxForm{
	margin: 20px;
	border:1px solid green;
}
.box{
	display: flex;
	flex-direction: column;
	margin:20px;
	border: 1px dotted purple;
}
.label{
	padding: 10px;
	border: 1px dashed black;
}